* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.home_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(211, 211, 210);
}
.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10%;
  background-color: rgb(149, 255, 149);
  padding: 0 2rem;
}
.cart_icon {
  position: relative;
}
.cart_icon img {
  width: 3rem;
  cursor: pointer;
}
.cart_icon p {
  font-weight: bold;
  background-color: red;
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  top: -0.4rem;
  left: 1rem;
  position: absolute;
}
.products_container {
  width: 100vw;
  overflow-y: scroll;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product_div {
  border-radius: 0.3rem;
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 20rem;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.product_div:hover {
  transform: scale(1.03);
}
.card_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_img {
  width: 80%;
  height: 50%;
}
.product_btns {
  display: flex;
  margin: 0.8rem;
}
.cart_btn,
.buy_btn {
  border: none;
  outline: none;
  padding: 0.6rem 0.8rem;
  color: #fff;
  border-radius: 3rem;
  cursor: pointer;
}
.cart_btn {
  background-color: rgb(51, 119, 255);
}
.buy_btn {
  background-color: rgb(255, 159, 49);
}
